.contact .u-section-1 {
  min-height: 36px;
}

.contact .u-section-1 .u-sheet-1 {
  min-height: 988px;
}

.contact .u-section-1 .u-layout-wrap-1 {
  margin: 30px auto 0 0;
}

.contact .u-section-1 .u-image-1 {
  min-height: 791px;
  background-image: url("/images/img_96.png");
  background-position: 50% 50%;
}

.contact .u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.contact .u-section-1 .u-layout-cell-2 {
  min-height: 791px;
}

.contact .u-section-1 .u-container-layout-2 {
  padding: 0;
}

.contact .u-section-1 .u-layout-wrap-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.contact .u-section-1 .u-layout-cell-3 {
  min-height: 202px;
}

.contact .u-section-1 .u-container-layout-3 {
  padding: 0;
}

.contact .u-section-1 .u-group-1 {
  width: 490px;
  height: auto;
  min-height: 140px;
  margin: 0 auto;
}

.contact .u-section-1 .u-text-1 {
  margin: 0 40px 0 51px;
}

.contact .u-section-1 .u-text-2 {
  font-size: 0.875rem;
  margin: 10px auto 0 51px;
}

.contact .u-section-1 .u-layout-cell-4 {
  min-height: 486px;
  background-image: none;
}

.contact .u-section-1 .u-container-layout-5 {
  padding: 0;
}

.contact .u-section-1 .u-group-2 {
  width: 758px;
  min-height: 216px;
  margin: -74px auto -435px 0;
}

.contact .u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.contact .u-section-1 .u-text-3 {
  margin: 0 285px 0 51px;
}

.contact .u-section-1 .u-text-4 {
  font-size: 0.875rem;
  margin: 10px auto 0 51px;
}

.contact .u-section-1 .u-btn-1 {
  border-style: none;
  text-transform: none;
  margin: 30px auto 0 51px;
}

.contact .u-section-1 .u-icon-1 {
  color: rgb(255, 255, 255) !important;
  margin-right: 7px;
  vertical-align: 0px;
}

@media (max-width: 1199px) {
  .contact .u-section-1 .u-sheet-1 {
    min-height: 983px;
  }

  .contact .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .contact .u-section-1 .u-image-1 {
    min-height: 540px;
  }

  .contact .u-section-1 .u-layout-cell-2 {
    min-height: 761px;
  }

  .contact .u-section-1 .u-layout-cell-3 {
    min-height: 185px;
  }

  .contact .u-section-1 .u-group-1 {
    min-height: 145px;
    height: auto;
  }

  .contact .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 1px;
    margin-right: 164px;
    margin-left: 52px;
  }

  .contact .u-section-1 .u-text-2 {
    margin-left: 52px;
  }

  .contact .u-section-1 .u-group-2 {
    margin-bottom: -688px;
  }

  .contact .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 155px;
  }

  .contact .u-section-1 .u-text-4 {
    width: auto;
  }

  .contact .u-section-1 .u-btn-1 {
    margin-top: 17px;
  }
}

@media (max-width: 991px) {
  .contact .u-section-1 {
    min-height: 6px;
  }

  .contact .u-section-1 .u-sheet-1 {
    min-height: 828px;
  }

  .contact .u-section-1 .u-layout-wrap-1 {
    margin-right: auto;
    margin-left: 0;
  }

  .contact .u-section-1 .u-image-1 {
    min-height: 414px;
  }

  .contact .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .contact .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .contact .u-section-1 .u-layout-cell-3 {
    min-height: 164px;
  }

  .contact .u-section-1 .u-group-1 {
    min-height: 98px;
  }

  .contact .u-section-1 .u-text-1 {
    text-align: left;
    margin-top: 0;
    margin-right: 45px;
    margin-left: 0;
  }

  .contact .u-section-1 .u-text-2 {
    text-align: left;
    margin-left: 0;
  }

  .contact .u-section-1 .u-layout-cell-4 {
    min-height: 498px;
  }

  .contact .u-section-1 .u-group-2 {
    margin-top: 0;
    margin-bottom: 50px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .contact .u-section-1 .u-text-3 {
    margin-right: 57px;
    margin-left: 99px;
  }

  .contact .u-section-1 .u-text-4 {
    margin-top: 11px;
    margin-left: 99px;
  }

  .contact .u-section-1 .u-btn-1 {
    margin-left: 99px;
  }
}

@media (max-width: 767px) {
  .contact .u-section-1 .u-sheet-1 {
    min-height: 739px;
  }

  .contact .u-section-1 .u-image-1 {
    min-height: 884px;
  }

  .contact .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .contact .u-section-1 .u-group-1 {
    width: 410px;
    min-height: 124px;
    margin-top: 23px;
  }

  .contact .u-section-1 .u-text-1 {
    margin-top: 1px;
    margin-right: 95px;
  }

  .contact .u-section-1 .u-text-2 {
    margin-top: 0;
  }

  .contact .u-section-1 .u-layout-cell-4 {
    min-height: 471px;
  }

  .contact .u-section-1 .u-group-2 {
    min-height: 184px;
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .contact .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .contact .u-section-1 .u-text-3 {
    width: 362px;
    margin-left: auto;
    margin-right: auto;
  }

  .contact .u-section-1 .u-text-4 {
    margin-top: 13px;
    margin-right: 50px;
    margin-left: 79px;
  }

  .contact .u-section-1 .u-btn-1 {
    margin-top: 10px;
    margin-left: 79px;
  }
}

@media (max-width: 575px) {
  .contact .u-section-1 .u-sheet-1 {
    min-height: 837px;
  }

  .contact .u-section-1 .u-layout-wrap-1 {
    width: 290px;
    margin-left: auto;
  }

  .contact .u-section-1 .u-image-1 {
    min-height: 334px;
  }

  .contact .u-section-1 .u-layout-cell-3 {
    min-height: 174px;
  }

  .contact .u-section-1 .u-group-1 {
    width: 227px;
    min-height: 151px;
    margin-top: 13px;
  }

  .contact .u-section-1 .u-text-1 {
    margin-top: 16px;
    margin-right: 41px;
  }

  .contact .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 10px;
  }

  .contact .u-section-1 .u-layout-cell-4 {
    min-height: 369px;
  }

  .contact .u-section-1 .u-group-2 {
    min-height: 189px;
    width: 290px;
    margin-left: auto;
    margin-right: auto;
  }

  .contact .u-section-1 .u-container-layout-6 {
    padding-right: 20px;
    padding-left: 25px;
  }

  .contact .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .contact .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .contact .u-section-1 .u-btn-1 {
    margin-left: auto;
    padding: 10px 20px 10px 18px;
  }
}

.text-align-center {
  text-align: center !important
}